@import './utils/_variables';
@import './MQ/breakpoints.scss';

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 50px;
  background-color: $secondary;

  &__nav {

    &--list {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    list-style: none;
    gap: 10px;

    @include sm {
      flex-direction: column;     
      width: 100vW;
      z-index: -1;
      gap: 30px;
      transition: left 0.3s ease;
    }

    @media (min-width: 350px) and (max-width: 1024px) {
      flex-direction: column;     
      z-index: -1;
      gap: 30px;
      transition: left 0.3s ease;
    }
    }

    &--item {
      padding: 15px 10px;
    text-decoration: none;
    color: $main-color;
    font-size: 23px;
    border-bottom: 3px solid transparent;
    color: #fff;
    
    &:hover {
      opacity: 0.6;
      border-color: $main-color;
      cursor: pointer;
    }
    }
  }

  @include sm {
    flex-direction: column;
    gap: 50px;
  }


  
  &__social-media {
    &--item {
      margin-left: 30px;
      opacity: 0.8;
    }
  }
}