@import '../styles/utils/_variables';
@import '../styles/MQ/breakpoints.scss';

.nav {
  &__list{
    display: flex;
    align-items: center;
    padding: 15px 10px;
    list-style: none;
    gap: 10px;

    @include sm {
      position: absolute;
      flex-direction: column;
      align-items: start;
      top: 0;
      width: 100vW;
      height: 100vh;
      padding-top: 150px;
      padding-left: 50px;
      z-index: -1;
      gap: 30px;
      background-color: $secondary;
      transition: left 0.3s ease;
    }
  }

  &__item {
    padding: 15px 10px;
    text-decoration: none;
    color: $main-color;
    font-size: 23px;
    border-bottom: 3px solid transparent;
    color: #fff;
    
    &:hover {
      opacity: 0.6;
      border-color: $main-color;
      cursor: pointer;
    }
  }
}

.phone {
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  padding-left: 0; 

  @include lg {
    padding-left: 150px;
  }

  @include xl {
    padding-left: 500px;
  }

  &:hover {
    border-color: transparent;
    cursor: pointer;
    // transform: scale(120%);
  }

}

.footer {
  @include sm {
    position: static;
  }
}

