@import './styles/Nav.scss';
@import './styles/Header.scss';
@import './styles/button.scss';
@import './styles/baner.scss';
@import './styles/our-servises.scss';
@import './styles/massage-types.scss';
@import './styles/card.scss';
@import './styles/openning-hours.scss';
@import './styles/galery.scss';
@import './styles/galery-item.scss';
@import './styles/home.scss';
@import './styles/best-prices/best-prices.scss';
@import './styles/best-prices/best-price.scss';
@import './styles/footer.scss';
@import './styles/call-us.scss';
@import './styles/pop-up.scss';
@import './styles/form.scss';

@import './styles/MQ/breakpoints.scss';

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  opacity: 0.98;
}

body {
  background-color: #f4ecec;
  max-width: 100vw;
}

.container {
  width: 90%;
  margin: 0 auto;
  
  @include sm {
    width: 100%;
  }

}

